<nav class="menu">
    <ul>
        <li>
            <LinkTo @route="index">Home</LinkTo>
        </li>
        <li>
            <LinkTo @route="dashboard">Dashboard</LinkTo>
        </li>
        <li>
            <LinkTo @route="products">Products</LinkTo>
        </li>
        
        {{#if this.session.isAuthenticated}}
            <li><button type="button" {{on "click" this.logout}}>Logout</button></li>
        {{/if}}
    </ul>
</nav>