{{page-title "Front"}}
<NavigationComponent/>
<div class="main">
    {{#if this.session.isAuthenticated}}
    <p>You are logged in as: <span class="current-user">{{this.currentUser.username}}</span></p>
{{else}}
    <p>You are not logged in!</p>
{{/if}}
    {{outlet}}
</div>