{{page-title "Customers"}}
<div class="container">
    <h1>This page will render customers</h1>
    {{#each @model as |customer|}}
        <Customer::Customer @customer={{customer}} />
    {{/each}}
    <h2>Products</h2>
</div>

{{outlet}}