{{page-title "Customers"}}
<div class="container">
    <h1 class="customer-title">Customers:</h1>
    {{#each @model as |customer|}}
        <Customer::Customer @customer={{customer}} />
    {{/each}}
</div>

{{outlet}}