<div class="container">
    <h1>{{this.model.company}}</h1>
    <p>Contact Person: {{this.model.contact_person}}</p>
    <p>Sales History: {{this.model.sales_history}}</p>
    {{!-- ...other customer details --}}
</div>
{{outlet}}

