<div class="customer-item">
    <LinkTo @route="customers.id" @model={{@customer.id}}>
        <h3>{{@customer.company}}</h3>
        <p>{{@customer.contact_person}}</p>
        <p>{{@customer.sales_history}}</p>
    </LinkTo>
</div>
