<div class="customer-item">
    <LinkTo @route="customers.id" @model={{@customer.id}}>
        <h4>Company: {{@customer.company}}</h4>
        <p>Contact person: {{@customer.contact_person}}</p>
        <p>Anual Sales: {{@customer.sales_history}}</p>
    </LinkTo>
</div>
