/* Ember supports plain CSS out of the box. More info: https://cli.emberjs.com/release/advanced-use/stylesheets/ */
* {
  margin: 0;
}

.main {
  display: flex;
  flex-direction: column;
  margin: 20px auto;
  justify-content: center;
  align-items: center;
  height: 80px;
  padding-top: 20px;
  gap: 20px;
}

.nav {
  z-index: 1;
  position: fixed;
  top: 0;
}

.container {
  display: flex;
  margin: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.products-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 500px;
  height: 400px;
  overflow-y: auto;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: #fff;
  padding: 10px;
  z-index: 1;
  position: fixed;
  top: 0;
  width: 100%;
}

.menu ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu li {
  margin-right: 10px;
}

.menu li:last-child {
  margin-right: 0;
}

.menu a {
  color: #fff;
  text-decoration: none;
  padding: 10px;
}

.menu a:hover {
  background-color: #555;
}

.menu button {
  background-color: #fff;
  color: #333;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.menu button:hover {
  background-color: #ddd;
}

.current-user {
  font-weight: bold;
  font-size: larger;
}

.remove-this {
  font-size: 2px;
}
